body{
    margin: 0;
    background-color: darkslategray;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
}
*, * :before, * :after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.main-picture{
    display: flex;
    height: 600px;
    background: url('5.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}
.column_50{
    display: flex;
    flex:50%;
    align-items: center;
    padding: 0 20px;
}
.intro__title {
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.6;
    color: azure;
}

.nav {
    font-size: 20px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: azure;
    text-decoration:none;
    transition: color .2s linear;
    padding: 20px 0;
}

.nav__link:hover {
    color: rgb(75, 170, 170);
}


.section__title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: azure;
    text-transform: uppercase;
}

.section__suptitle {
    font-size: 35px;
    color: azure;
    text-align: right;
}

.section__text{
    font-size: 20px;
    color: azure;
    text-align: right;
    margin-bottom: 150px;
}

/*leopard imagine*/
.section__text__imag:hover .section__text__imagine #shown{
    display: none;
    
}

.section__text__imag .section__text__imagine #hidden{
    display: none;
    
}

.section__text__imag:hover .section__text__imagine #hidden{
    display: block;
    
}

.a1 {
    display: flex;

}
.a2{
    display: flex;  
    
    flex:33.3%;
    padding-left: 10;
    padding-right: 10;
    text-align: center;

}

.a3{
    
    padding-left: 10;
    padding-right: 10;
}


.statistic{
    background-color: rgb(75, 170, 170);
    margin-bottom: 50px;

}
.stat{
    display: flex;
}

.stat__items{
    text-align: center;
    padding: 70px 25px;
    flex: 1 1 0;
    border-left:1px solid rgb(150, 201, 201);
    color: azure;
    
}
.stat__items:last-child{
    border-right:1px solid rgb(150, 201, 201);
}

.stat__count{
    font-size: 62px;
    font-weight: 500;
    color: azure;
    text-transform: uppercase;
}
.stat__text{
    font-size: 13px;
    color: azure;
    text-transform: uppercase;
    
}